*{
  padding: 0;
  margin: 0;
}
.allSite{
  display: flex;
  width: 100vw;
  margin: 0 auto;
}

.appTitle{
  padding: 10px 0;
  width: 100vw;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  color: #D1B764;
  position: fixed;
  top: 0;
  left: 0;
}
 .mainMenu{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
 }

 .element{
   padding: 10px 0;
   color: #bbb;
   display: flex;
   flex-basis:33%;
   flex-direction: column;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Loved by the King', cursive;
   font-size: 15px;
 }

 .menuIcon{
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

 .element.active{
   color: #D1B764;
 }

 .selectedOption{
   text-align: center;
   width: 200vw;
   height: 100vh;
   padding: 80px 0;
   overflow: hidden;
   position: relative;
   top: 0;
   left: 0;
 }