*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createReceptButtons{
  background-color: #D1B764;
  padding: 5px 5px;
  border: 1px solid #333; 
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-decoration: none;
  line-height: 16px;
  height: 28px;
  font-size: 12px; 
}

.createReceptForm{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  
}

.createReceptFormName{
  height: 115px;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.createReceptFormProdukts{
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.createReceptFormRecept{
  padding: 10px 0;
}

.createReceptFormButton{
  background-color: #D1B764;
  border: 1px solid #333; 
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 auto 100px;
  padding: 25px 5px 25px 5px;
  height: 68px;
  line-height: 100%;
  width: 80%;
  text-align: center;
}

.steps{
 padding-bottom: 10px;
 text-align: left;
 font-weight: bold;

}

.createReceptName{
  font-size: 20px;
  width: 200px;
}

.multiselect {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 20px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px #dadada solid;
}

.checkboxes label {
  background-color: #fff;
  display: block;

}

.checkboxes label:hover {
  background-color: #1e90ff;
}

.addProductsList{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 20px;
}

.addProductsItem{
    display: flex;
    margin: 2px 0;
}

.addProductsItemArea{
  margin: 0 auto;
  position: relative;
  width: 80%
}

.addProductsItemName{
  font-size: 13px;
  width: 60%;
  text-align: left;
}

.addProductsItemNumber{
  font-size: 13px;
    width: 15%;
    margin-bottom: 5px
}

.addProductsItemMeasurer{
  display: inline-block;
  width: 5%
}

.addProductsItemKcal{
  text-align: left;
  margin: 0 0 20px 20px;
}

.addReceptTextField{
  margin: 20px 0;
  height: 160px;
}

.addProductsAutocompleteList{
  border: 2px solid #ccc;
  position: absolute;
  top: 0;
  left: 0
}
.addProductsAutocompleteList button:nth-child(odd){
  text-align: left;
  width: 100%;
  display: block;
  border: none;
  background-color: #eee;
  cursor: pointer;
 }

.addProductsAutocompleteList button:nth-child(even){
  text-align: left;
  width: 100%;
  display: block;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

@media (max-width: 321px) and (orientation: portrait) {
  .createReceptFormName{
    height: 140px;
  }
}