*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuFile{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow: scroll;
}

.nameInMenuFile{
    padding-top: 20px;
    font-size: 32px;
    margin-bottom: 10px
}

.daysInMenuFile{
    padding-bottom: 100px;
}

.dayInMenuFile:first-child{
    padding: 5px 10px 0;
    border-top: 2px solid #000;
}

.dayInMenuFile{
    padding: 20px 10px 0;
    border-bottom: 2px solid #000;
}

.dayInMenuFile:last-child{
    border-bottom: none;
}

.daysNumbersInMenuFile{
    margin-bottom: 5px
}

.daysMealsInMenuFile{
    list-style: none;
    text-align: left;
    padding-bottom: 20px;
}

.daysMealsInMenuFile li:first-child{
    padding-top: 10px;
    border-top: 1px dotted #000;
    margin-top: 20px;
}

.daysMealsInMenuFile li{
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted #000
}

.daysMealsInMenuFile li:last-child{
    border-bottom: none;
}

.daysMealsInMenuFile li p:nth-child(1){
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.daysMealsInMenuFile li p{
    font-weight: bold;
}

.daysMealsInMenuFile li p:nth-child(3){
    font-weight: normal;
    padding-bottom: 10px;
}

.daysMealsInMenuFile li button{
    flex-basis: 45%;
    background-color: #D1B764;
    padding: 5px 5px;
    border: 1px solid #333; 
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .menuFile{
        width: 80%;
        margin: 0 auto;
    }
    
    .nameInMenuFile{
        margin-bottom: 20px
    }
    
    .dayInMenuFile:first-child{
        padding-top: 15px;
    }
    
    .daysMealsInMenuFile li{
        position: relative;
    }
    
    .daysMealsInMenuFile li p:nth-child(1){
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    .daysMealsInMenuFile li p:nth-child(2){
        font-size: 16px;
        padding-bottom: 10px;
    }

    .daysMealsInMenuFile li p:nth-child(3){
        font-weight: normal;
        font-size: 16px;
        padding-bottom: 10px;
    }
    
    .daysMealsInMenuFile li button{
        position: absolute;
        bottom: 25%;
        right: 10%;
        padding: 10px 20px;
        font-size: 16px;
    }
}