*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.receptFile{
    height: 100%;
    overflow: scroll;
}

.nameInReceptFile{
    margin: 10px auto 20px;
    text-align: center;
}

.componentsInReceptFile{
    text-align: left;
    padding: 20px 0 40px;
}

.componentInReceptFile{
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px dotted #000
}

.componentsInReceptFile>ul{
    list-style: none;
}

.componentInReceptFile:nth-child(1){
    padding-top: 30px
}

.receptInReceptFile{
    padding-bottom: 150px;
    text-align: left;
}

.receptInReceptFile h2{
    padding-bottom: 20px;
}

@media (min-width: 768px) {
  
    .nameInReceptFile{
        font-size: 40px;
    }

    .componentsInReceptFile{
        padding: 20px 100px 40px;
    }

    .componentsInReceptFile>h2{
        font-size: 30px;
    }

    .componentInReceptFile{
        font-size: 20px;
        padding: 20px 0 10px;
    }
    
    .componentInReceptFile:nth-child(1){
        padding-top: 40px
    }
    
    .receptInReceptFile{
        padding: 0 100px 150px 100px;
        text-align: left;
    }
    
    .receptInReceptFile h2{
        padding-bottom: 20px;
        font-size: 30px;
    }
    .receptInReceptFile p{
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .receptFile{
        height: 100%;
        overflow: scroll;
        padding: 0 50px;
    }
    
    .nameInReceptFile{
        font-size: 25px;
        margin: 10px auto 20px;
        text-align: center;
    }
    
    .componentsInReceptFile{
        text-align: left;
        padding: 20px 0 40px;
    }
    
    .componentInReceptFile{
        font-size: 16px;
        padding-bottom: 10px;
        text-align: left;
        border-bottom: 1px dotted #000
    }
    
    .componentsInReceptFile>ul{
        list-style: none;
    }
    
    .componentInReceptFile:nth-child(1){
        padding-top: 30px
    }
    
    .receptInReceptFile{
        padding-bottom: 150px;
        padding-left: 0;
        text-align: left;
    }
    
    .receptInReceptFile h2{
        padding-bottom: 20px;
    }

    .receptInReceptFile p{
        font-size: 16px;;
    }
}